@mixin pc {
    @media screen and (min-aspect-ratio: 1) {
        @content;
    }
}

@mixin sp {
    @media screen and (max-aspect-ratio: 1) {
        @content;
    }
}

$base-color: light-dark(#eee, #333);
$hight-base-color: light-dark(white, black);
$assort-color: light-dark(#333, #eee);
$sub-assort-color: light-dark(#555, #ccc);

$table_colorlist: (
    (0, rgb(131, 224, 255), "㏠"),
    (1, rgb(130, 255, 130), "夜"),
    (2, rgb(255, 230, 87), "昼"),
    (3, rgb(255, 134, 134), "")
);