* {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

nav {
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 5px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main {
    display: flex;
    margin-top: 10px;

    #sidebar {
        width: 20%;
        min-width: 20%;
        min-height: calc(100vh - 10px);
        border-right: solid thin silver;

        >* {
            display: flex;
            flex-direction: column;
            padding: 20px;
            background-color: white;
            color: gray;
            font-weight: bold;
            text-decoration: none;

            &:hover {
                filter: brightness(90%);
            }
        }
    }

    #main {
        margin: 0 auto;
        padding: 10px;
        max-width: 100vh;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1em;
}

table {
    border-collapse: collapse;

    tr {
        padding: 0 30px;

        &:first-child {
            border-bottom: solid 2px gray;
        }

        &:not(:first-child, :last-child) {
            border-bottom: solid thin gray;
        }

        &:not(:first-child):hover {
            filter: brightness(90%);
        }
    }

    th,
    td {
        padding: 10px 30px;
        background-color: white;
    }
}

form {
    margin: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    input,
    textarea,
    select {
        padding: 10px;
        font-size: 20px;
    }

    input[type="text"] {}

    select {}
}