@use "global" as *;

.container:has(#select_logvisible input[type="hidden"][value=false])+.container table tr.visible,
.container:has(#select_logvisible input[type="hidden"][value=true])+.container table tr.hidden,
.container:has(#select_logvisible input[type="hidden"][value=false])~.container .sp_loglist li.visible,
.container:has(#select_logvisible input[type="hidden"][value=true])~.container .sp_loglist li.hidden {
    display: none;
}

tr:nth-last-child(1 of .visible),
tr:nth-last-child(1 of .hidden) {
    border-bottom: none;
}

.pc_loglist {
    @include sp {
        display: none;
    }
}

.sp_loglist {
    li {
        padding: 15px;
        list-style: none;
        border-bottom: solid thin gray;

        &:hover {
            background-color: rgba(128, 128, 128, 0.2);
        }

        span.log_name {
            font-size: 1.5em;
            line-height: 1.5;
        }

        span.log_member {
            padding-left: 1em;
            color: $sub-assort-color;
        }

        a:has(i) {
            width: 1em;

            i {
                position: absolute;
                top: 50%;
                translate: 0 -50%;
            }
        }
    }

    @include pc {
        display: none;
    }
}