@use "sass:math";
@use "global" as *;

#screen {
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    width: 100dvw;

    #backgrond {
        position: absolute;
        top: 0;
        left: 0;
        width: 100dvw;
        height: 100dvh;
        background-color: #333;
        background-image: linear-gradient(90deg, #ffffff80 1px, transparent 1px), linear-gradient(#ffffff80 1px, transparent 1px);
        background-size: 48px 48px;
        background-repeat: repeat;
    }

    #imageL,
    #imageR {
        width: 60dvh;
        position: absolute;
        top: 10%;

        &:not(.silent) {
            transition: filter .1s, translate .1s;
        }

        &.silent {
            filter: brightness(50%);
            transition: filter .2s, translate .2s;
        }
    }

    #imageL {
        left: min(30dvw, 40dvh);
        translate: -50%;

        &.silent {
            translate: -55%;
        }
    }

    #imageR {
        right: min(30dvw, 40dvh);
        translate: 50%;

        &.silent {
            translate: 55%;
        }
    }

    #mask {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 40;
        width: 100dvw;
        height: 100dvh;
        background-color: black;
        opacity: 0;
        transition: opacity 0.1s;
    }

    &:has(:is([tab="雑談"], [tab="other"], [tab^="見学"])) #mask {
        opacity: 0.6;
    }

    .comment-buttons {
        $button-radius : 2em;
        position: absolute;
        bottom: calc(30dvh + 5px);
        left: 2em;
        z-index: 50;
        display: flex;
        gap: $button-radius * 0.2;

        .comment-button {
            display: block;
            width: $button-radius * 2;
            aspect-ratio: 1;
            background-image: linear-gradient(10deg, rgba(61, 61, 61, 0.9), rgba(44, 44, 44, 0.9));
            border: solid 5px black;
            border-radius: 50%;

            i {
                position: absolute;
                top: 50%;
                left: 50%;
                translate: -50% -50%;
                display: flex;
                align-items: center;
                color: #eee;
                font-size: $button-radius * 1.2;
                line-height: 1;
            }
        }
    }

    #comment {
        position: absolute;
        bottom: 0;
        left: 50%;
        z-index: 50;
        translate: -50%;
        display: flex;
        flex-direction: column;
        width: calc(100% - 2rem);
        height: 30dvh;
        background-image: linear-gradient(10deg, rgba(66, 66, 66, 0.9), rgba(0, 0, 0, 0.9));
        border: solid black;
        border-width: 5px 5px 0;
        border-radius: 30px 30px 0 0;
        text-decoration: none;

        #comment_name {
            margin: 10px 15px 5px;
            width: calc(100% - 30px);
            height: 2.4rem;
            font-weight: bold;
            border-bottom: solid 4px var(--color);
            font-size: 2rem;
            color: white;
        }

        #comment_content {
            margin: 5px 30px 15px 2rem;
            height: calc(30dvh - 36px);
            overflow-y: scroll;

            p {
                font-size: 1.5rem;
                font-weight: bold;
                color: white;
                line-height: 1.1;

                br {
                    content: "";
                    display: block;
                    margin-bottom: .2em;
                }
            }

            &::-webkit-scrollbar {
                display: none;
            }
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 20px;
            right: 20px;
            width: 1.5em;
            aspect-ratio: 2/tan(60deg);
            background-color: white;
            clip-path: polygon(0 0, 100% 0, 50% 100%);
            animation: flow 3s infinite;
        }

        @keyframes flow {
            0% {
                rotate: y 0;
            }

            75% {
                rotate: y 0;
            }

            100% {
                rotate: y 180deg;
            }
        }
    }

    #backlog {
        position: fixed;
        top: 60px;
        left: 0;
        z-index: 60;
        padding: 20px;
        width: 100dvw;
        height: calc(100dvh - 60px);
        background-color: rgba(0, 0, 0, 0.7);
        overflow-y: auto;

        &.close {
            display: none;
        }

        &.open {
            display: block;
        }

        #backlog_close {
            position: fixed;
            top: 70px;
            right: 10px;
            z-index: 10;

            i {
                color: #eee;
                font-size: 2rem;
            }
        }

        .backlog_item {
            margin: 1em;
            display: flex;
            color: white;

            .backlog_jump_button {
                width: 2em;
                max-width: 5px;
                background-color: color-mix(in srgb, var(--color), black 30%);
                transition: max-width 0.1s;

                i {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    translate: -50% -50%;
                    opacity: 0;
                    transition: opacity 0.1s;
                }
            }

            &:hover .backlog_jump_button {
                max-width: 2em;

                i {
                    opacity: 1;
                }
            }

            .backlog_content {
                display: flex;
                flex-direction: column;
                padding: 0.5em;
                flex: 1;
            }
        }

        hr {
            opacity: 0.5;
        }
    }

    progress {
        width: 50%;
        min-width: 200px;
    }
}

#html_container {
    position: fixed;
    top: 0;
    left: 0;
}