@use "sass:math";
@use "global" as *;

:root{
    --bottom: env(safe-area-inset-bottom);

    @include sp{
        --bottom: calc(env(safe-area-inset-bottom) + 60px);
    }
}

#screen {
    position: fixed;
    margin: 0!important;
    top: calc(env(safe-area-inset-top) + 60px);
    bottom: var(--bottom);
    left: 0;
    width: 100vw;

    #backlog {
        position: fixed;
        top: calc(env(safe-area-inset-top) + 60px);
        left: 0;
        z-index: 60;
        padding: 20px;
        width: 100vw;
        height: calc(100vh - env(safe-area-inset-top) - 60px);
        background-color: rgba(0, 0, 0, 0.7);
        overflow-y: auto;

        &.close {
            display: none;
        }

        &.open {
            display: block;
        }

        #backlog_close {
            position: fixed;
            top: calc(70px + env(safe-area-inset-top));
            right: 10px;
            z-index: 10;

            i {
                color: #eee;
                font-size: 2rem;
            }
        }

        .backlog_item {
            margin: 1em;
            display: flex;
            color: white;

            .backlog_jump_button {
                width: 2em;
                max-width: 5px;
                background-color: color-mix(in srgb, var(--color), black 30%);
                transition: max-width 0.1s;
            }

            .backlog_content {
                display: flex;
                flex-direction: column;
                padding: 0.5em;
                flex: 1;
            }
        }

        hr {
            opacity: 0.5;
        }
    }

    progress {
        width: 50%;
        min-width: 200px;
    }
}
