@use "sass:math";
@use "global" as *;

:root {
    --bottom: env(safe-area-inset-bottom);

    @include sp {
        --bottom: calc(env(safe-area-inset-bottom) + 60px);
    }
}

#logview {
    position: fixed;
    margin: 0;
    top: calc(env(safe-area-inset-top) + 60px);
    left: 0;
    z-index: 60;
    padding: 20px;
    width: 100vw;
    height: calc(100vh - env(safe-area-inset-top) - 60px);
    background-color: $base-color;
    overflow-y: auto;

    .logcontents_item {
        margin: 1em;
        display: flex;
        color: $assort-color;

        .logcontents_colorbar {
            width: 2em;
            max-width: 5px;
            background-color: color-mix(in srgb, var(--color), $assort-color 10%);
            transition: max-width 0.1s;
        }

        .logcontents_content {
            display: flex;
            flex-direction: column;
            padding: 0.5em;
            padding-left: 1em;
            flex: 1;
        }
    }

    hr {
        opacity: 0.5;
    }
}