td {
    padding: 10px;

    label:has(+input[type="radio"]) {
        margin: auto;
        display: block;
        width: 40px;
        height: 40px;
        border: solid thin gray;
        border-radius: 10px;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        user-select: none;

        @each $n, $color, $text in (
            (0, rgb(216, 245, 255), "㏠"),
            (1, rgb(212, 255, 212), "夜"),
            (2, rgb(255, 243, 174), "昼"),
            (3, rgb(255, 195, 195), "")
        ) {
            &:has(+:checked) {
                &[for $= "#{$n}"] {
                    background-color: $color;
                }
            }
        }
    }

    input[type="radio"] {
        display: none;
    }
}