@use "global" as *;

td {
    padding: 10px;

    label:has(+input[type="radio"]) {
        margin: auto;
        display: block;
        width: 40px;
        height: 40px;
        border: solid thin gray;
        border-radius: 10px;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        user-select: none;

        @each $n, $color, $text in $table_colorlist {
            &:has(+:checked) {
                &[for $= "#{$n}"] {
                    background-color: $color;
                }
            }
        }
    }

    input[type="radio"] {
        display: none;
    }
}