@each $n, $color, $text in (
    (0, rgb(216, 245, 255), "㏠"),
    (1, rgb(212, 255, 212), "夜"),
    (2, rgb(255, 243, 174), "昼"),
    (3, rgb(255, 195, 195), "")) {
    tr[data-type="#{$n}"] {
        :is(th, td) {
            background-color: $color;
        }

        th::after {
            content: $text;
        }
    }

    td[data-type="#{$n}"]::after {
        content: $text;
    }
}

td,
th {
    padding: 10px;
    $box-shadow: 0 0 30px 5px;

    &::after {
        display: block;
        margin: auto;
        height: 30px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    &:first-child {
        border-right: solid thin gray;
    }
}