$sp: 480px;

#screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;

    #backgrond {
        position: absolute;
        top: 0;
        left: 0;
        width: 100dvw;
        height: 100dvh;
        background-color: #333;
        background-image: linear-gradient(90deg, #ffffff80 1px, transparent 1px), linear-gradient(#ffffff80 1px, transparent 1px);
        background-size: 48px 48px;
        background-repeat: repeat;
    }

    #imageL,
    #imageR {
        width: 60dvh;
        position: absolute;
        top: 10%;
    }

    #imageL {
        left: min(30dvw, 40dvh);
        translate: -50%;
    }

    #imageR {
        right: 40px;
    }

    #mask {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 40;
        width: 100dvw;
        height: 100dvh;
        background-color: black;
        opacity: 0;
    }

    &:has(:is([tab="雑談"], [tab="other"], [tab^="見学"])) #mask {
        opacity: 0.6;
    }

    .show-button {
        position: absolute;
        z-index: 50;
        display: block;
        $button-radius : 2em;
        width: $button-radius * 2;
        aspect-ratio: 1;
        background-image: linear-gradient(10deg, rgba(61, 61, 61, 0.9), rgba(44, 44, 44, 0.9));
        border: solid 5px black;
        border-radius: 50%;

        &#show-button-back {
            bottom: calc(30dvh + 5px);
            left: 2em;
            $line-angle: 40deg;

            &::before {
                rotate: $line-angle;
            }

            &::after {
                rotate: -$line-angle;
            }

            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                $width: 1.8em;
                $height: 6px;
                width: $width;
                height: $height;
                background-color: #ddd;
                border-radius: $height/2;
                transform: translateX(calc(50% - $height/2));
                translate: calc(-#{$width}*cos(#{$line-angle}) - 5px) -50%;
            }
        }
    }

    #comment {
        position: absolute;
        bottom: 0;
        left: 50%;
        z-index: 50;
        translate: -50%;
        display: flex;
        flex-direction: column;
        width: calc(100% - 2rem);
        height: 30dvh;
        background-image: linear-gradient(10deg, rgba(66, 66, 66, 0.9), rgba(0, 0, 0, 0.9));
        border: solid black;
        border-width: 5px 5px 0;
        border-radius: 30px 30px 0 0;
        text-decoration: none;

        #comment_name {
            margin: 10px 15px 5px;
            width: calc(100% - 30px);
            height: 2.4rem;
            font-weight: bold;
            border-bottom: solid 4px var(--color);
            font-size: 2rem;
            color: white;
        }

        #comment_content {
            margin: 5px 30px 15px 2rem;
            height: calc(30dvh - 36px);
            overflow-y: scroll;

            p {
                font-size: 1.5rem;
                font-weight: bold;
                color: white;
            }

            &::-webkit-scrollbar {
                display: none;
            }
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 20px;
            right: 20px;
            width: 1.5em;
            aspect-ratio: 2/tan(60deg);
            background-color: white;
            clip-path: polygon(0 0, 100% 0, 50% 100%);
            animation: flow 3s infinite;
        }

        @keyframes flow {
            0% {
                rotate: y 0;
            }

            75% {
                rotate: y 0;
            }

            100% {
                rotate: y 180deg;
            }
        }
    }

    progress {
        width: 50%;
        min-width: 200px;
    }
}

#html_container {
    position: fixed;
    top: 0;
    left: 0;
}