$sp: 480px;

#screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;

    #backgrond {
        position: absolute;
        top: 0;
        left: 0;
        width: 100dvw;
        height: 100dvh;
        background-color: gray;
    }

    #imageL,
    #imageR {
        width: 60dvh;
        position: absolute;
        top: 10%;
    }

    #imageL {
        left: min(30dvw, 40dvh);
        translate: -50%;
    }

    #imageR {
        right: 40px;
    }

    #mask {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 40;
        width: 100dvw;
        height: 100dvh;
        background-color: black;
        opacity: 0;

        &:has(+[tab="雑談"]),
        &:has(+[tab="other"]),
        &:has(+[tab^="見学"]) {
            opacity: 0.4;
        }
    }

    #comment {
        position: absolute;
        bottom: 0;
        left: 50%;
        z-index: 50;
        translate: -50%;
        display: flex;
        flex-direction: column;
        width: calc(100% - 2rem);
        height: 30dvh;
        background-image: linear-gradient(10deg, rgba(66, 66, 66, 0.9), rgba(0, 0, 0, 0.9));
        border: solid black;
        border-width: 5px 5px 0;
        border-radius: 30px 30px 0 0;
        text-decoration: none;

        #comment_name {
            margin: 10px 15px 5px;
            width: calc(100% - 30px);
            height: 2.4rem;
            font-weight: bold;
            border-bottom: solid 4px var(--color);
            font-size: 2rem;
            color: white;
        }

        #comment_content {
            margin: 5px 30px 15px 2rem;
            height: calc(30dvh - 36px);
            overflow-y: scroll;

            p {
                font-size: 1.5rem;
                font-weight: bold;
                color: white;
            }

            &::-webkit-scrollbar {
                display: none;
            }
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 20px;
            right: 20px;
            border-style: solid;
            border-width: 30px 15px 0;
            border-color: white transparent;
            animation: flow 3s infinite;
        }

        @keyframes flow {
            0% {
                translate: 0 0;
                rotate: y 0;
            }

            50% {
                translate: 0 -10px;
                rotate: y 180deg;
            }
        }
    }

    progress {
        width: 50%;
        min-width: 200px;
    }
}

#html_container {
    position: fixed;
    top: 0;
    left: 0;
}