<%= stylesheet_link_tag "preparing", "data-turbo-track": "reload" %>

<div class="mask">
    <span>準備中</span>
    <progress value="0" max=""></progress>
</div>

<div id="html_container">
    <template shadowrootmode="open">
        <%= sanitize(ERB.new(File.open("#{Rails.public_path}/logfile/#{@id}.html").read).result(binding), tags: %w(p span br), attributes: %w(style)) %>
    </template>
</div>

<script>
    window.addEventListener("DOMContentLoaded", () => {
        const shadowRoot = document.getElementById("html_container").shadowRoot;
        const comments = shadowRoot.querySelectorAll("p");
        let progress = document.querySelector(".mask>progress");
        progress.max = comments.length;
        logContent_send(0, comments, ()=>{progress.value++});
    })

    const logContent_send = (n, a, func) => {
        let comment = a[n];
        let temp = comment.querySelectorAll("span");
        let form = new FormData();
        form.set("index", n+1);
        form.set("color", comment.style.color);
        form.set("tab", temp[0].textContent.match(/(?<=\[).+(?=\])/)[0]);
        form.set("author", temp[1].textContent);
        form.set("content", temp[2].innerText.replace(/^\s+/mg, "").replace(/\n$/, ""));
        
        fetch("<%= log_makeLogContent_path(@id) %>", {
            method: 'POST',
            headers: { 'X-CSRF-Token': getCsrfToken() },
            body: form
        }).then(res=>{
            func();
            if(n + 1 < a.length){
                logContent_send(n+1, a, func);
            }else{
                location.href = "<%= log_path(@id) %>"
            }
        })
    }

    const getCsrfToken = () => {
      const metas = document.getElementsByTagName('meta');
      for (let meta of metas) {
          if (meta.getAttribute('name') === 'csrf-token') {
              return meta.getAttribute('content');
          }
      }
      return '';
    }
</script>