<% content_for :title, @log_content.log[:name] %>

<%= stylesheet_link_tag "log_show", "data-turbo-track": "reload" %>

<div id="logview" style="view-transition-name:log_<%=@log_content.log[:id]%>">
    <div id="logview_container"></div>
</div>


<script>
    //メイン台詞枠
    {
        let page = <%= @page %>;
        const SCROLLRANGE = 200;
        const logview_elem = document.getElementById("logview");
        const logview_container_elem = document.getElementById("logview_container");
        let scrolltop_flag = true;
        let scrollbottom_flag = true;

        const getLogview = async (page) => {
            let res = await fetch(`/logs/<%= @id %>/logview?page=${page}`);
            let text = await res.text();
            console.log(text);
            
            return text;
        }

            scrolltop_flag = true;
            scrollbottom_flag = true;
            getLogview(page).then(res=>{
                logview_container_elem.innerHTML = res;
                logview_container_elem.querySelector(`[data-page="${page}"]+hr`).scrollIntoView({ block: "end" });
            });

        logview_elem.addEventListener("scroll", ()=>{
            if(logview_elem.scrollTop < SCROLLRANGE && scrolltop_flag){
                scrolltop_flag = false;
                getLogview(logview_container.querySelector(".logcontents_item:first-of-type").dataset.page-21).then(res=>{
                    const oldTop = document.documentElement.scrollTop;
                    const oldHeight = logview_elem.scrollHeight;
                    logview_container_elem.insertAdjacentHTML('afterbegin', res);
                    const diffHeight = logview_elem.scrollHeight - oldHeight;
                    logview_container_elem.scrollTop = oldTop - diffHeight;
                    if(logview_container.querySelector(".logcontents_item:first-of-type").dataset.page!=1) scrolltop_flag = true;
                }).catch(err => {
                    scrolltop_flag = true;
                    console.Error(err);
                })
            }
            if((logview_elem.scrollHeight - logview_elem.scrollTop - logview_elem.clientHeight) < SCROLLRANGE && scrollbottom_flag){
                scrollbottom_flag = false;
                getLogview(Number(logview_container.querySelector(".logcontents_item:last-of-type").dataset.page)+20).then(res=>{
                    logview_container_elem.insertAdjacentHTML('beforeend', res);
                    if(res != "") scrollbottom_flag = true;
                }).catch(err => {
                    scrolltop_flag = true;
                    console.Error(err);
                })
            }
        })
    }
</script>